<html>

<meta name="viewport" content="width=device-width, user-scalable=yes" />
<head>
<link rel="icon" href="/static/favicon.ico" type="image/x-icon"/>
<link rel="apple-touch-icon" href="/static/jott-icon.png">

<link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700&amp;subset=latin-ext" rel="stylesheet">

<title> jott - {{ name }} </title>
<style>

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Inconsolata', monospace;
}
body {
    padding: 0px;
}
#name {
    position: absolute;
    height: 20px;
    width: 85%;
    left: 0;
    margin: 0;
    padding: 0;
    padding-left: 5px;
    border: none;
    background: #eee;
    font-family: 'Inconsolata', monospace;
    font-weight: bold;
}
.dimmed {
    color: #eee;
}
button {
    position: absolute;
    height: 20px;
    width: 15%;
    right: 0;
    margin: 0;
    padding: 0;
    border: none;
    background: #eee;
    font-family: 'Inconsolata', monospace;
    font-weight: bold;
}
button:hover{
    background: #aaa;
    cursor:pointer;
}
pre {
    font-family: 'Inconsolata', monospace;
    display: none;
}
.center {
    text-align: center;
}
div.pre {
    border: solid 1px;
    padding: 0px 10px 0px 10px;
}
table {
   border: none;
    padding: 0px;
    word-wrap: break-word;
    background-color: white;
    border-spacing: 0px;
}
td, th {
    border-left: none;
    border-right: 1px black solid;
    border-top: none;
    border-bottom: 1px black solid;
    padding: 3px;
    word-wrap: break-word;
    background-color: white;
    border-spacing: 0px;
    position: relative;
    z-index:0;
}

td.row_0, th.row_0 {
    border-top: 1px black solid;
}
td.col_0, th.col_0 {
    border-left: 1px black solid;
}

td.cell:hover {
    background-color: aliceblue;
}

tr.row_0 td {
    font-weight: bold;
}

textarea {
    margin: 0px;
    width: 100%;
    height: 100%;
    border: none;
    font-family: inherit;
    font-size: inherit;
    text-align: inherit;
    min-height: 0px;
    line-height: 1;
    box-sizing: border-box;
    background: transparent;
    padding: 0px;
    box-shadow: none;
    outline: none;
}

button, input, select {
    font-family: inherit;
    font-size: inherit;
    text-align: inherit;
    z-index: inherit;
}

select.filter {
    width: 100%
}
div.cell_edit {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
}

div.grip {
    touch-action: none;
}

td.highlight,th.highlight  {
    background-color: #eeeeee
}

td.freezed, th.freezed {
    z-index:2;
}

td.freezed_corner, th.freezed_corner {
    z-index:3;
}

td.freezed_right_border, th.freezed_right_border {
    border-right: 2px black solid;
}

td.freezed_bottom_border, th.freezed_bottom_border {
    border-bottom: 2px black solid;
}
div#note-container {
    width:100%;
    height:100%;

}
div#heading {
    width:100%;
    z-index:4;
    position: relative;
    background-color: white;
}
</style>
<script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>
<script src="/static/MathJax.js"></script>
<script src="/static/d3.js"></script>
<script>

var odata = undefined;
var columns_values = undefined;
var ncols = 0;
var headers_name2col =  {}
var headers_col2name = {}

var editing = new Set()
var rendered = false

var display_rows = []
var filter_values = {}
var column_widths = {}

var hash_dict = {}

var highlight_row_col = undefined

function add_class(el, className) {
    let arr = el.className.split(' ');
    if (arr.indexOf(className) == -1) {
        el.className += ' ' + className;
    }
}
function remove_class(el, classNames) {
    let className=classNames.split(' ');
    for(let i=0;i<className.length;i++) {
        let arr = el.className.split(' ');
        let idx = arr.indexOf(className[i])
        if (idx > -1) {
            arr.splice(idx, 1)
            el.className = arr.join(' ')
        }
    }
}
function to_csv(odata) {
	return odata.map(row=>row.map(cell=> {
        if (cell.indexOf('\n') >=0 ||
        cell.indexOf('\r') >= 0 ||
        cell.indexOf('"')>=0 ||
        cell.indexOf(',')>=0) {
            cell = cell.replace('"','""')
            cell = '"' + cell + '"'
        }
        return cell
    }).join(",")).join("\n")
}

function save_note(button, input) {
    let note = to_csv(odata)
    let name_pass = input.value.split('#');
    let name = encodeURIComponent(name_pass[0]);
    if (name == '') {
        alert("Note needs a name");
        return;
    }
    let pass = '';
    if (name_pass.length > 1) {
        pass = encodeURIComponent(name_pass[1]);
    }
    let httpRequest = new XMLHttpRequest();
    httpRequest.onreadystatechange = function(){
        if (httpRequest.readyState == 4) {
            if (httpRequest.status != 200) {
                alert("Error: " + httpRequest.response);
            } else {
                var newurl = window.location.origin +
                    '/csv/' +
                    name + window.location.hash;
                window.history.pushState(
                    { path: newurl }, 
                    '', 
                    newurl);
                button.classList.toggle('dimmed', true);
                button.onclick = function() {};
                setTimeout(function(){
                    button.classList.toggle('dimmed', false);
                    button.onclick = function() {save_note(
                        this,
                    )};
                }, 5000);
            }
        }
    };
    httpRequest.open('POST',
        window.location.origin +
        '/save/note/' +
        name + '/' + pass,
        true);
    httpRequest.setRequestHeader('Content-Type', 'application/json');
    httpRequest.send(JSON.stringify({
        note: note})
    );
}



function load_data() {
    let contents = document.getElementById('note-container').textContent;
    odata = d3.csvParseRows(contents);
    ncols = odata[0].length;
    columns_values = {};
    for(var col=0;col<ncols;col++) {
        headers_name2col[odata[0][col]] = col
        headers_col2name[col] = odata[0][col]
        let value_set = new Set();
        for(var i=1;i<odata.length;i++) {
            value_set.add(odata[i][col]) ;
        }
     	let value_list = Array.from(value_set);
	    value_list.sort()
        columns_values[col] = value_list;
    }

    display_rows = [...Array(odata.length).keys()];
}


function update_cell(e) {
    let o = e.target

    let parent = o
    while(parent != undefined) {
        if(editing.has(parent)) {
            editing.delete(parent);
            break;
        }
        parent = parent.parentNode
    }

    odata[o.dataset.row][o.dataset.col] = o.value
    let elem = document.createTextNode(odata[o.dataset.row][o.dataset.col])
    o.parentNode.parentNode.replaceChild(elem, o.parentNode)
}

function handle_esc(e) {
    let o = e.target
    if (e.which == 27) {
        e.preventDefault()
        o.blur()
        return false;
    } else if (e.which == 9) {
        e.preventDefault()
        o.blur()
        row = o.dataset.row
        col = o.dataset.col
        elem = document.getElementById('cell_'+row+'_'+(+col+1))
        if(elem == undefined) elem = document.getElementById('cell_'+(+row+1)+'_0')
        if(elem != undefined) elem.click()
        return false;
    }
}

function edit_cell(e) {
    let o = e.target
    let parent = o
    while (parent != undefined) {
        if (editing.has(parent)) return;
        parent = parent.parentNode
    }
    editing.add(o)

    let elem = document.createElement('div')
    elem.className = 'cell_edit'
    let text = odata[o.dataset.row][o.dataset.col]

    let nlines = Math.max(text.split(/\r\n|\r|\n/).length, 1)
    let html = "<textarea rows="+nlines+" onkeydown='handle_esc(event)' onblur='update_cell(event)' data-row=" + o.dataset.row + " " +
    "data-col=" + o.dataset.col + ">" + text + "</textarea>"
    elem.innerHTML = html.trim()
    if (o.firstChild == undefined) {
       o.appendChild(elem)
    } else {
       o.replaceChild(elem, o.firstChild)
    }

    elem.firstChild.focus()
}


function update_filters() {
    for(var col=0;col<ncols;col++) {
        let filter=document.getElementById("filter_" + col)
        if(filter != undefined) {
            if(filter.value == '-') {
                //delete filter_values[headers_col2name[col]]
                update_hash(headers_col2name[col] + '.f', undefined)
                continue;
            }
            //filter_values[headers_col2name[col]] = filter.value
            update_hash(headers_col2name[col] + '.f', filter.value)
        }
    }

//    let params = []
//    for(let f in filter_values) {
//        params.push(encodeURIComponent(f) + '=' + encodeURIComponent(filter_values[f]))
//    }
//    window.location.search = params.join('&')
}


function highlight(e) {
    if (highlight_row_col == [e.target.dataset.col, e.target.dataset.row]) return;
    let col_cells = document.getElementsByClassName('col_' + e.target.dataset.col)
    let row_cells = document.getElementsByClassName('row_' + e.target.dataset.row)

    for(let i=0;i<col_cells.length;i++) {
        add_class(col_cells[i], 'highlight')
    }

    for(let i=0;i<row_cells.length;i++) {
        add_class(row_cells[i], 'highlight')
    }

    highlight_row_col = [e.target.dataset.col, e.target.dataset.row]
}

function unhighlight(e) {
    let col_cells = document.getElementsByClassName('col_' + e.target.dataset.col)
    let row_cells = document.getElementsByClassName('row_' + e.target.dataset.row)

    for(let i=0;i<col_cells.length;i++) {
        remove_class(col_cells[i], 'highlight')
    }

    for(let i=0;i<row_cells.length;i++) {
        remove_class(row_cells[i], 'highlight')
    }

    if (highlight_row_col == [e.target.dataset.col, e.target.dataset.row]) {
        highlight_row_col = undefined
    }
}
// A series of rendering passes
function render(elem) {
    let new_elem = document.createElement('div');
    new_elem.id = 'note-container';
    let rows = display_rows
    j = 0
    d3.select(new_elem)
    .append("table")
    .selectAll("tr")
    .data(rows.map((i, idx, arr)=>[i, odata[i], arr[idx-1]]))
    .enter().append("tr")
    .attr("class", function(d) {return "row_"+d[0];})
    .selectAll(function(d){return this.querySelectorAll((d[0]==0)?"th":"td");})
    .data(function(d){ return d[1].map(x=>[d[0], x, d[2]]); })
    .enter().append(function(d) {return document.createElement((d[0]==0) ? "th" : "td");})
    .attr("class",function(d, i) {return "cell col_" + i + " row_" + d[0]})
    .attr("onclick", function(d) { return d[0] >0 ? "edit_cell(event)" : ""; } )
    .attr("data-col", function(d, i) { return i; })
    .attr("data-prev-col", function(d, i) {return i-1;})
    .attr("data-row", function(d) { return d[0]; })
    .attr("data-prev-row", function(d) { return d[2]; })
    .attr("id", function(d, i) { return "cell_" + d[0] + "_" + i;} )
    .attr("onmouseover", "highlight(event)")
    .attr("onmouseout", "unhighlight(event)")
    .html(function(d, col){
        if (d[0] == 0) {
           html = d[1] + "<br><select class=\"filter\" id=\"filter_"+col+"\" onchange=\"update()\"><option values=\"-\">-</option>";
           for (var i=0;i<columns_values[col].length;i++) {
               let option_value=columns_values[col][i]
               html += "<option value=\""+option_value+"\"" + (filter_values[d[1]] == option_value ? " selected" : "") +">"+option_value+"</option>";
           }
           html += "</select>"
        } else {
            html = d[1];
        }
        return html
    })
    elem.parentNode.replaceChild(new_elem, elem);
    new_elem.firstChild.style.width = new_elem.offsetWidth + 'px';
    MathJax.Hub.Queue(["Typeset",MathJax.Hub]);
}


function setup_filters() {
//    let params = window.location.search.substr(1)
//    let items = params.split('&')
//    for (let i=0;i<items.length;i++){
//        if(items[i] == "") continue
//        let pair = items[i].split('=')
//        let key = decodeURIComponent(pair[0])
//        if(!key.endsWith(".f")) continue;
//        let value = decodeURIComponent(pair[1])
//        filter_values[key] = value
//        let col = headers_name2col[key]
//        display_rows = display_rows.filter(i=>{return i==0 || odata[i][col]==value;});
//    }
    display_rows = [...Array(odata.length).keys()];
    filter_values = {}
    for(let k in hash_dict) {
        if(k.endsWith('.f')) {
            let colname = k.substr(0,k.length-2)
            let col = headers_name2col[colname]
            value = hash_dict[k]
            filter_values[colname] = value
            display_rows = display_rows.filter(i=>{return i==0 || odata[i][col]==value;});
        }
    }
    
}


function setup_hash() {
    let params = window.location.hash.substr(1)
    let items = params.split('&')
    for (let i=0;i<items.length;i++){
        if(items[i] == "") continue
        let pair = items[i].split('=')
        let key = decodeURIComponent(pair[0])
        let value = decodeURIComponent(pair[1])
        hash_dict[key] = value
    }
}

function update_hash_string() {
    let params = []
    for(let k in hash_dict) {
        params.push(encodeURIComponent(k) + '=' + encodeURIComponent(hash_dict[k]))
    }
    window.location.replace('#' + params.join('&'))
}


function update_hash(key, value) {
    if(value == undefined) {
        delete hash_dict[key]
    } else {
        hash_dict[key] = value
    }
    update_hash_string()    
}


function update_width() {
    for(let k in hash_dict) {
        if(k.endsWith('.w')) {
            if(k == '__tbl.w') {
                let tbl = document.getElementById('note-container').getElementsByTagName('table')[0]
                let new_width = +hash_dict[k]
                tbl.style.maxWidth = new_width + 'px';
                tbl.style.minWidth = new_width + 'px';
                tbl.style.width = new_width + 'px';

            } else {
                let col = headers_name2col[k.substr(0,k.length-2)]
                let column = document.getElementsByClassName('col_' + col)
                let new_width = +hash_dict[k]
                for(let i=0;i<column.length;i++) {
                    column[i].style.maxWidth = new_width + 'px';
                    column[i].style.minWidth = new_width + 'px';
                    column[i].style.width = new_width + 'px';
                }
            }
        }
    }
}

function setup_resizable_cols() {
// http://jsfiddle.net/thrilleratplay/epcybL4v/
    let thElm;
    let startOffset;

    Array.prototype.forEach.call(
      document.querySelectorAll("table th"),
      function (th) {
        if (th.getElementsByClassName("grip").length > 0) {
            return;
        }
        th.style.position = 'relative';
//        th.parentNode.parentNode.style.tableLayout = 'fixed';
//       th.parentNode.parentNode.style.width = th.parentNode.offsetWidth + 'px';

        let grip = document.createElement('div');
        grip.innerHTML = "&nbsp;";
        grip.className = 'grip'
        grip.style.top = 0;
        grip.style.right = 0;
        grip.style.bottom = 0;
        grip.style.width = '10px';
        grip.style.position = 'absolute';
        grip.style.cursor = 'col-resize';
        grip.addEventListener('pointerdown', function (e) {
            e.preventDefault()
            thElm = th;
            startOffset = th.offsetWidth - e.pageX;
            startOffsetTable = th.parentNode.parentNode.offsetWidth - e.pageX
        });

        th.appendChild(grip);
      });

	evt_handler = function (e) {
      if (thElm) {
          e.preventDefault()
        pageX = e.pageX
        if (pageX == undefined) {
            pageX = e.changedTouches[0].pageX
        }
        let new_width = startOffset + pageX;
        thElm.style.maxWidth = new_width + 'px';
        thElm.style.minWidth = new_width + 'px';
        let new_tbl_width = startOffsetTable + pageX;
        thElm.parentNode.parentNode.style.maxWidth = new_tbl_width + 'px'
        thElm.parentNode.parentNode.style.minWidth = new_tbl_width + 'px'
        thElm.parentNode.parentNode.style.width =  new_tbl_width + 'px'

        update_hash('__tbl.w', new_tbl_width)
        update_hash(headers_col2name[thElm.dataset.col] + '.w', new_width)
        update_width()

      }

    }

    document.addEventListener('pointermove', evt_handler)

    document.addEventListener('pointerup', function () {
        thElm = undefined;
    });
    document.addEventListener('pointercancel', function () {
        thElm = undefined;
    });

}

window.addEventListener('load', function() {
    load_data()
    setup_hash()
    setup_filters()
    render(document.getElementById('note-container'));
    rendered = true;
    setup_resizable_cols()
    update_width()
});

window.addEventListener('hashchange', function() {
    setup_hash()
    setup_filters()
    render(document.getElementById('note-container'));
    rendered = true;
    setup_resizable_cols()
    update_width()
})

function update() {
    update_filters()
    setup_filters()
    render(document.getElementById('note-container'));
    rendered = true;
    setup_resizable_cols()
    update_width()
}

function add_row(e) {
    let row = odata.length
    if(e.target != undefined && e.target.tagName == 'TEXTAREA') {
        row = e.target.parentNode.parentNode.dataset.row
     }
     rowdata = odata[Math.min(row, odata.length-1)].slice(0)
     rowdata.fill("")
     for(let i in filter_values) {
        rowdata[headers_name2col[i]] = filter_values[i]
     }
     odata.splice(row, 0, rowdata)
     update()
}

function delete_row(e) {
    if(e.target != undefined && e.target.tagName == 'TEXTAREA') {
       let row = e.target.parentNode.parentNode.dataset.row
       odata.splice(row, 1)
       update()
    }
}


var freezed = undefined
function freezed_scroll_handler(e) {
    let translateY = "translate3d(0,"+e.target.scrollTop+"px, 0)";
    let row = freezed[0]
    let col = freezed[1]
    let cell = document.getElementById('cell_'+row+'_'+col)
    for(let i=0;i<=row-1;i++) {
        let cells = document.getElementsByClassName("row_"+i);
        for(let j=0;j<cells.length;j++) {
            if(cells[j].tagName != 'TD' && cells[j].tagName != 'TH') continue
            if(+cells[j].dataset.col >= col) {
                cells[j].style.transform = translateY
                add_class(cells[j],'freezed')
                if(cell && cells[j].dataset.row == cell.dataset.prevRow) add_class(cells[j],'freezed_bottom_border')
              }
        }
    }
    let translateX = "translate3d("+e.target.scrollLeft+"px,0,0)";
    let translate2 = "translate3d("+e.target.scrollLeft+"px,"+e.target.scrollTop+"px,0)";
    for(let i=0;i<=col-1;i++) {
        let cells = document.getElementsByClassName("col_"+i);
        for(let j=0;j<cells.length;j++) {
            if(cells[j].tagName != 'TD' && cells[j].tagName != 'TH') continue
            if(+cells[j].dataset.row < row) {
                cells[j].style.transform = translate2
                add_class(cells[j], 'freezed_corner')
            } else {           
                cells[j].style.transform = translateX
                if(cell && cells[j].dataset.col == cell.dataset.prevCol) add_class(cells[j],'freezed_right_border')
                add_class(cells[j],'freezed')
            }
        }
    }

    let heading = document.getElementById('heading')
    heading.style.transform=translate2;
}

function reset_freeze() {
    if(freezed == undefined) return;

    row = freezed[0]
    col = freezed[1]
    let cell = document.getElementById('cell_'+row+'_'+col)
    for(let i=0;i<=row-1;i++) {
        let cells = document.getElementsByClassName("row_"+i);
        for(let j=0;j<cells.length;j++) {
                cells[j].style.transform = ''
                remove_class(cells[j], 'freezed freezed_right_border freezed_bottom_border freezed_corner')
        }
    }
    for(let i=0;i<=col-1;i++) {
        let cells = document.getElementsByClassName("col_"+i);
        for(let j=0;j<cells.length;j++) {
             cells[j].style.transform = ''
             remove_class(cells[j], 'freezed freezed_right_border freezed_bottom_border freezed_corner')
        }
    }
    let heading = document.getElementById('heading')
    heading.style.transform = ''
    freezed = undefined
   
 
}

function toggle_freeze(row, col) {
    if(freezed == undefined) {
        freezed = [row, col]
        document.getElementById('note-container').parentNode.addEventListener("scroll", freezed_scroll_handler);

    } else {
       document.getElementById('note-container').parentNode.removeEventListener("scroll", freezed_scroll_handler)
       reset_freeze()
       freezed = undefined
    }

}


document.onkeydown = function(e) {
    if(!rendered) {
        return true;
    }
    if(e.which == 65 && e.ctrlKey && e.shiftKey && !e.altKey) {  
        add_row(e)
        return false;
    } else if(e.which == 68 && e.ctrlKey && e.shiftKey && !e.altKey) {
        delete_row(e)
        return false;
    } else if(e.which == 70 && !e.ctrlKey && !e.shiftKey && !e.altKey) {
        toggle_freeze(highlight_row_col[1], highlight_row_col[0]) 
    }
    return true;
}

</script>
</head>

<body>
<div style='height:100%; min-height:100%; overflow: auto;'>
<div id='heading'>
<input id="name" value="{{name}}" placeholder="name#password"/>
<button onclick="save_note(
    this,
    document.getElementById('name')
    )">save</button>
<br>
<br>
</div>
<div id="note-container">{{ note }}</div>
</div>

</body>
</html>


